<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meurtre à Huis Clos{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Meurtre à Huis Clos - L'application murder party immersive. Vivez des enquêtes captivantes entre amis, en famille ou entre collègues.{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Meurtre à Huis Clos{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Le jeu de Murder Party ultime à vivre entre proches.{% endblock %}">
    <meta property="og:image" content="https://meurtrehuisclos.fr/images/logo.JPG">
    <meta property="og:url" content="{% block og_url %}https://meurtrehuisclos.fr{% endblock %}">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://meurtrehuisclos.fr/">

    {% if app.request.cookies.get('cookies_consent') == 'accepted' %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NPRXJ39H');</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/logo.png') }}">
    <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://meurtrehuisclos.fr",
        "logo": "https://meurtrehuisclos.fr/images/logo.png"
        }
    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% if app.request.cookies.get('cookies_consent') == 'accepted' %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPRXJ39H"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo.png')}}" alt="Logo Meurtre à Huis Clos">
            </a>
        </div>

        <div class="header-right">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a href="{{ path('cart_index') }}" class="cart-icon">
                <div class="cart-icon-wrapper">
                    <img src="{{ asset('icones/panier.png') }}" alt="Panier" class="cart-img">
                    {% set cartCount = cartService.getCount() %}
                    {% if cartCount > 0 %}
                        <span class="cart-badge" id="cart-badge">{{ cartCount }}</span>
                    {% else %}
                        {% set cartCount = cartService.getCount() %}
                        <span class="cart-badge" id="cart-badge" {% if cartCount == 0 %}style="display:none"{% endif %}>{{ cartCount }}</span>
                    {% endif %}
                </div>
            </a>
        </div>

        <nav class="menu-links">
            <span class="menu-close">&times;</span>
            <a href="{{ path('telechargement') }}">Télécharger le jeu</a>
            <a href="{{ path('scenarios_list') }}">Murder Parties</a>
            <a href="{{ path('packs_list') }}">Packs</a>
            <a href="{{ path('rules') }}">Règles du jeu</a>
            <a href="{{ path('about') }}">À propos</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('app_login')}}">Connexion</a>
            <a href="{{ path('cart_index') }}" class="cart-icon cart-icon-desktop">
                <div class="cart-icon-wrapper">
                    <img src="{{ asset('icones/panier.png') }}" alt="Panier" class="cart-img">
                    {% set cartCount = cartService.getCount() %}
                    {% if cartCount > 0 %}
                        <span class="cart-badge" id="cart-badge">{{ cartCount }}</span>
                    {% else %}
                        {% set cartCount = cartService.getCount() %}
                        <span class="cart-badge" id="cart-badge-desktop" {% if cartCount == 0 %}style="display:none"{% endif %}>{{ cartCount }}</span>
                    {% endif %}
                </div>
            </a>
        </nav>
    </div>
</header>

<main class="main-content">
    {% block body %}{% endblock %}
</main>

{% include 'cookie_banner.html.twig' %}

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-left">
            <a href="{{ path('avis_new') }}">Laisser un avis</a>
            <a href="{{ path('avertissement') }}">Avertissements</a>
            <a href="{{ path('mentions') }}">Mentions légales</a>
            <a href="{{ path('cgv') }}">Conditions Générales de Vente</a>
            <a href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            <a href="{{ path('confidentialite') }}">Politique de confidentialité</a>
        </div>

        <div class="footer-credit">
            <p>
                &copy; {{ "now"|date("Y") }} Meurtre à Huis Clos | Site conçu par 
                <a href="https://www.alpha-portfolio.fr/" target="_blank">Alpha</a>.
            </p>
            <p class="cookie-credit">
                Paiement sécurisé par Stripe <br>

                <a href="#" id="manage-cookies">Gérer mes cookies</a> 
            </p>
            <a href="https://www.instagram.com/meurtrehuisclos/" target="_blank" class="instagram-link">
                <img src="{{ asset('icones/instagram.png') }}" alt="Instagram">
            </a>
        </div>

    </div>
</footer>

{% block javascripts %}{% endblock %}
<script src="{{ asset('js/base.js') }}"></script>
<script src="{{ asset('js/cookie.js') }}"></script>
</body>
</html>
