<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meurtre à Huis Clos{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <link rel="icon" type="image/jpg" sizes="32x32" href="{{ asset('images/logo.JPG') }}">
    <link rel="shortcut icon" href="{{ asset('images/logo.JPG') }}">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.meurtrehuisclos.fr",
        "logo": "https://www.meurtrehuisclos.fr/images/logo.JPG"
        }
    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo.JPG')}}" alt="Logo Meurtre à Huis Clos">
            </a>
        </div>

        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="menu-links">
            <span class="menu-close">&times;</span>
            <a href="{{ path('telechargement') }}">Télécharger le jeu</a>
            <a href="{{ path('scenarios_list') }}">Murder Parties</a>
            <a href="{{ path('rules') }}">Règle du jeu</a>
            <a href="#">À propos</a>
            <a href="#">Contact</a>
            <a href="#">Connexion</a>
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-left">
            <a href="#">Mentions légales</a>
            <a href="#">Conditions Générales de Vente</a>
            <a href="#">Politique de confidentialité</a>
        </div>

        <p class="footer-credit">
            &copy; 2026 Meurtre à Huis Clos | Site conçu par 
            <a href="https://www.alpha-portfolio.fr/" target="_blank">Alpha</a>.
        </p>

    </div>
</footer>

<script src="{{ asset('js/base.js') }}"></script>
</body>
</html>
