<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meurtre à Huis Clos{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <link rel="icon" type="image/jpg" sizes="32x32" href="{{ asset('images/logo.JPG') }}">
    <link rel="shortcut icon" href="{{ asset('images/logo.JPG') }}">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.meurtrehuisclos.fr",
        "logo": "https://www.meurtrehuisclos.fr/images/logo.JPG"
        }
    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo.JPG')}}" alt="Logo Meurtre à Huis Clos">
            </a>
        </div>

        <div class="header-right">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a href="{{ path('cart_index') }}" class="cart-icon">
                <div class="cart-icon-wrapper">
                    <img src="{{ asset('icones/panier.png') }}" alt="Panier" class="cart-img">
                    {% set cartCount = cartService.getCount() %}
                    {% if cartCount > 0 %}
                        <span class="cart-badge" id="cart-badge">{{ cartCount }}</span>
                    {% else %}
                        <span class="cart-badge" id="cart-badge" style="display:none">0</span>
                    {% endif %}
                </div>
            </a>
        </div>

        <nav class="menu-links">
            <span class="menu-close">&times;</span>
            <a href="{{ path('telechargement') }}">Télécharger le jeu</a>
            <a href="{{ path('scenarios_list') }}">Murder Parties</a>
            <a href="{{ path('packs_list') }}">Packs</a>
            <a href="{{ path('rules') }}">Règles du jeu</a>
            <a href="{{ path('about') }}">À propos</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('app_login')}}">Connexion</a>
            <a href="{{ path('cart_index') }}" class="cart-icon cart-icon-desktop">
                <div class="cart-icon-wrapper">
                    <img src="{{ asset('icones/panier.png') }}" alt="Panier" class="cart-img">
                    {% set cartCount = cartService.getCount() %}
                    {% if cartCount > 0 %}
                        <span class="cart-badge">{{ cartCount }}</span>
                    {% else %}
                        <span class="cart-badge" style="display:none">0</span>
                    {% endif %}
                </div>
            </a>
        </nav>
    </div>
</header>

<main class="main-content">
    {% block body %}{% endblock %}
</main>

{% include 'cookie_banner.html.twig' %}

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-left">
            <a href="{{ path('avis_new') }}">Laisser un avis</a>
            <a href="{{ path('avertissement') }}">Avertissements</a>
            <a href="{{ path('mentions') }}">Mentions légales</a>
            <a href="{{ path('cgv') }}">Conditions Générales de Vente</a>
            <a href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            <a href="{{ path('confidentialite') }}">Politique de confidentialité</a>
        </div>

        <div class="footer-credit">
            <p>
                &copy; 2026 Meurtre à Huis Clos | Site conçu par 
                <a href="https://www.alpha-portfolio.fr/" target="_blank">Alpha</a>.
            </p>
            <p class="cookie-credit">
                <a href="#" id="manage-cookies">Gérer mes cookies</a>
            </p>
        </div>

    </div>
</footer>

{% block javascripts %}{% endblock %}
<script src="{{ asset('js/base.js') }}"></script>
<script src="{{ asset('js/cookie.js') }}"></script>
</body>
</html>
