{% extends 'base.html.twig' %}

{% block title %}{{ scenario.title }} — Meurtre à Huis Clos{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/scenarioshow.css') }}">
{% endblock %}

{% block body %}

<h1>Meurtre à Huis Clos</h1>

<section class="scenario-show-page">

    <h2 class="scenario-title">{{ scenario.title }}</h2>

    <div class="scenario-layout">

        {# COLONNE GAUCHE #}
        <div class="scenario-left">

            <p class="scenario-meta">
                ⏱︎ {{ scenario.duree }} min | {{ scenario.nbPlayers }} joueurs 
                {% if scenario.averageRating %}
                    | {{ scenario.averageRating }}/5 ★
                {% endif %}
            </p>

            <p class="scenario-synopsis">
                {{ scenario.synopsis }}
            </p>

            <p class="scenario-secret">
                Le scénario vous sera dévoilé complètement au lancement de la partie.
            </p>

            <a href="{{ path('rules') }}" class="btn-rules">
                Voir les règles
            </a>

        </div>


        {# COLONNE DROITE #}
        <div class="scenario-right">

            <p class="tarif">
                {% if scenario.isFree %}
                    Gratuit
                {% else %}
                    {{ scenario.price|number_format(2, ',', ' ') }} €
                    <span class="price-per-player">
                        Seulement {{ (scenario.price / scenario.nbPlayers)|number_format(2, ',', ' ') }} € / joueur
                    </span>
                {% endif %}
            </p>

            <div class="scenario-btns">

                {% if scenario.isFree or isPurchased %}

                    <a href="#" class="btn-jouer">Jouer</a>

                {% else %}

                    <button
                        class="btn-primary btn-add-cart"
                        data-slug="{{ scenario.slug }}"
                        data-name="{{ scenario.title }}"
                        data-price="{{ scenario.price }}"
                        id="btn-add-cart">
                        Ajouter au panier
                    </button>

                {% endif %}

            </div>

            <a href="{{ path('packs_list') }}" class="btn-packs">
                Découvrez les Murder Parties en packs
            </a>

        </div>

    </div>


    {# SECTION TELECHARGEMENT #}

    <div class="download-section">

        <h3>Téléchargez le jeu</h3>

        <div class="download-buttons">
            <a href="#">
                <img src="{{ asset('icones/apple_red.png') }}" alt="Téléchargement Apple">
            </a>

            <a href="#">
                <img src="{{ asset('icones/android_red.png') }}" alt="Téléchargement Android">
            </a>
        </div>

    </div>

</section>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/scroll.js') }}"></script>
<script src="{{ asset('js/addtocart.js') }}"></script>
{% endblock %}